body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 800px;
    padding: 20px;
}

#next-button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    margin: 10px;
    width: 150px;
}

h1 {
    font-size: 24px;
}

.image-style {
    width: 100px;
    height: 100px;
    object-fit: cover;
}